<html>

<head>
    <title>Alethena Address Verification</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<style>
    .btn-primary {
        background-color: #155c72 !important;
        border-color: #155c72;
        background-image: none !important;
    }

    body {
        font-family: 'Roboto' !important;
        background-image: linear-gradient(#387487ec, #387487e3), url('../../images/bgimg.jpg');
        /* background-image: linear-gradient(#387487ec, #387487e3); */

        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .jumbotron {
        background-color: rgba(255, 255, 255, 0.726);
        margin: 0 auto;
    }

    h1 {
        color: #0c4155 !important;
        font-weight: 100 !important
    }

    p {
        color: #0c4155 !important
    }
</style>

<body>
    <div style="margin:100px;">

        <div class="jumbotron" style="padding:40px;">
            <h1>Alethena Address Verification</h1>
            <p>Could not register, sorry!</p>
            <p><a class="btn btn-primary btn-lg" href="https://alethena.com" role="button">Done</a></p>
        </div>
    </div>
</body>

</html>