	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
		<meta name="viewport" content="width=600,initial-scale = 2.3,user-scalable=no">
		<!--[if !mso]>
            <!-- -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans%3A300,400,700" rel="stylesheet"> -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<!--
                <![endif]-->
		<title>Email verification</title>
		<style type="text/css">
			body {
				width: 100%;
				background-color: #ffffff;
				margin: 0;
				padding: 0;
				-webkit-font-smoothing: antialiased;
				mso-margin-top-alt: 0px;
				mso-margin-bottom-alt: 0px;
				mso-padding-alt: 0px 0px 0px 0px;
				margin-top: 5%;
			}

			p,
			h1,
			h2,
			h3,
			h4 {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: 0;
			}

			span.preheader {
				display: none;
				font-size: 1px;
			}

			html {
				width: 100%;
			}

			table {
				font-size: 14px;
				border: 0;
			}

			/* ----------- responsivity ----------- */

			@media only screen and (max-width: 640px) {

				/*------ top header ------ */
				.main-header {
					font-size: 20px !important;
					margin-top: 50px !important;
				}

				.main-section-header {
					font-size: 28px !important;
				}

				.show {
					display: block !important;
				}

				.hide {
					display: none !important;
				}

				.align-center {
					text-align: center !important;
				}

				.no-bg {
					background: none !important;
				}

				/*----- main image -------*/
				.main-image img {
					width: 440px !important;
					height: auto !important;
				}

				/* ====== divider ====== */
				.divider img {
					width: 440px !important;
				}

				/*-------- container --------*/
				.container590 {
					width: 440px !important;
				}

				.container580 {
					width: 400px !important;
				}

				.main-button {
					width: 220px !important;
				}

				/*-------- secions ----------*/
				.section-img img {
					width: 320px !important;
					height: auto !important;
				}

				.team-img img {
					width: 100% !important;
					height: auto !important;
				}
			}

			@media only screen and (max-width: 479px) {

				/*------ top header ------ */
				.main-header {
					font-size: 18px !important;
					margin-top: 50px !important;
				}

				.main-section-header {
					font-size: 26px !important;
				}

				/* ====== divider ====== */
				.divider img {
					width: 280px !important;
				}

				/*-------- container --------*/
				.container590 {
					width: 280px !important;
				}

				.container590 {
					width: 280px !important;
				}

				.container580 {
					width: 260px !important;
				}

				/*-------- secions ----------*/
				.section-img img {
					width: 280px !important;
					height: auto !important;
				}
			}
		</style>
		<!--[if gte mso 9]>
                <style type=”text/css”>
        body {
        font-family: arial, sans-serif!important;
        }
        </style>
                <![endif]-->
	</head>

	<body class="respond">

		<!-- pre-header -->

		<table style="display:none!important;">
			<tbody>
				<tr>
					<td>
						<div
							style="overflow:hidden;display:none;font-size:1px;color:#ffffff;line-height:1px;font-family:Arial;maxheight:0px;padding-top:100px;max-width:0px;opacity:0;">
							<!-- Edit preview text as required for your platform ======-->
							Verify your email address
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<table bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0" class="bg_color" width="100%">
			<tbody>
				<tr>
					<td align="center">

						<table align="center" border="0" cellpadding="0" cellspacing="0" class="container590" width="590">
							<tbody>
								<tr>
									<td align="center" class="main-header"
										style="color: #343434; font-size: 24px; font-family: Roboto, Helvetica, sans-serif; font-weight:400;line-height: 35px;">
										<!-- section text ======-->
										<div style="line-height: 35px;">

											Verify your email address

										</div>
									</td>
								</tr>
								<tr>
									<td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
								</tr>
								<tr>
									<td align="center">

										<table align="center" bgcolor="eeeeee" border="0" cellpadding="0" cellspacing="0"
											width="40">
											<tbody>
												<tr>
													<td height="2" style="font-size: 2px; line-height: 2px;">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
								</tr>
								<tr>
									<td align="left">

										<table align="center" border="0" cellpadding="0" cellspacing="0"
											class="container590" width="590">
											<tbody>
												<tr>
													<td align="left"
														style="color: #888888; font-size: 16px; font-family: Roboto, Helvetica, sans-serif; line-height: 28px;">

														<p style="line-height: 26px; margin-bottom:15px;">
															Hi,
														</p>

														<p style="line-height: 26px;margin-bottom:15px;">
															Your address has been registered at Alethena.
														</p>

														<p style="line-height: 26px;margin-bottom:15px;">
															Please click the link below to confirm your address.
															If this was not you, then do not click the link, there is no
															further action needed.

														</p>

														<p style="line-height: 26px;margin-bottom:20px;">
															This is an automatic mail. If you are unsure, please <a
																href="mailto:contact@alethena.com">contact</a> the Alethena
															team.<br>
														</p>

														<table align="center" bgcolor="155c72" border="0" cellpadding="0"
															cellspacing="0" width="220">
															<tbody>
																<tr>
																	<td height="10"
																		style="font-size: 10px; line-height: 10px;">&nbsp;
																	</td>
																</tr>
																<tr>
																	<td align="center"
																		style="color: #ffffff; font-size: 14px; font-family: Roboto, Helvetica, sans-serif; line-height: 22px; letter-spacing: 1px;">
																		<div style="line-height: 24px;">
																			<!-- Edit Confirm link as required for your platform ======-->
																			<a href= <%= confURL %> style="color: #ffffff; text-decoration: none;"> Verify Transaction</a>
																		</div>
																	</td>
																</tr>
																<tr>
																	<td height="10"
																		style="font-size: 10px; line-height: 10px;">&nbsp;
																	</td>
																</tr>
															</tbody>
														</table>



														<table align="center" bgcolor="ffffff" border="0" cellpadding="0"
															cellspacing="0" width="220">
															<tbody>
																<tr>
																	<td height="20"
																		style="font-size: 20px; line-height: 20px;">&nbsp;
																	</td>
																</tr>
															</tbody>
														</table>

													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td>
				</tr>
			</tbody>
		</table>

	</body>